<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permissions -->
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <!-- ARCore feature -->
    <uses-feature
        android:name="android.hardware.camera.ar"
        android:required="true" />

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FitMeUp"
        tools:targetApi="31">

        <!-- MainActivity: Entry point of the app -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- RegisterActivity: User registration -->
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />

        <!-- LoginActivity: User login -->
        <activity
            android:name=".LoginActivity"
            android:exported="false" />

        <!-- ProfilePageActivity: User profile -->
        <activity
            android:name=".ProfilePageActivity"
            android:exported="false" />


        <!-- ForgotPasswordActivity: Password recovery -->

        <activity android:name=".WorkoutHistory" />

        <activity
            android:name=".ForgotPasswordActivity"
            android:exported="false" />

        <!-- ReminderActivity: Reminder management -->
        <activity
            android:name=".Reminder3Activity"
            android:exported="false" />

        <!-- TimerActivity: Activity related to timers -->
        <activity
            android:name=".Timer_activity"
            android:exported="false" />

        <!-- CommunityActivity: Community page -->
        <activity
            android:name=".community_activity"
            android:exported="false" />

        <!-- Additional activities, if needed -->
        <activity
            android:name=".ViewPagerAdapter"
            android:exported="false" />
        <activity
            android:name=".WorkoutActivity"
            android:exported="false" />

        <activity

            android:name=".HomePage"
            android:exported="false" />
         <activity
             android:name=".Model_activity"
             android:exported="false">

         </activity>

        <!-- Metadata for preloaded fonts -->
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>
</manifest>
